@import "./Variables";
@import "./Mixins";
@import "./Header";
@import "./Slugs";
@import "./Cart";
@import "./Products";
@import "./Footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  overflow-x: hidden;
}

.App__unvisible{
  position: fixed;
  overflow: hidden;
}

[aria-hidden="true"] {    
  width: 100vw;
  z-index: -1; 
}

.main__wrap{

}